.tech__img
	background: url(../img/tech__batmobile_1.png) no-repeat 5%
	background-size: 40%
@media only screen and(max-width: 1090px)
	.tech__img
		background-size: 60%
@media only screen and(max-width: 565px)
	.tech__img
		background-size: 220%