.header__img
	max-height: 1000px
	position: absolute
	top: 100px
	z-index: 0
	display: block
@media only screen and(max-width: 992px)
	.header__img
		left: -50px
		max-width: 100%
		
@media only screen and(max-width: 768px)
	.header__img
		top: 200px

@media only screen and(max-width: 480px)
	.header__img
		top: 250px
		max-width: 100%
@media only screen and (max-width: 320px)
	.header__img
		top: 350px
