.header__img
	
	background: url(../img/header__img_min.png) no-repeat bottom
	position: absolute
	height: 100%
	width: 100%
	transform: translateZ(-300px) scale(2)
	
@media only screen and(max-width: 992px)
	.header__img
		background-size: 100%
@media only screen and(max-width: 768px)
	.header__img
		

@media only screen and(max-width: 480px)
	.header__img
		
		
@media only screen and (max-width: 320px)
	.header__img
		
